body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

img {
    width: 25px;
}

li, .enlace-cabecera, button {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: firebrick;
}

.logo {
    cursor: pointer;
}

.enlaces {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.enlaces li {
    display: block;
    padding: 20px 20px;
}

.enlaces li .enlace-cabecera {
    transition: all 0.3s case 0s;
}

.enlaces li .enlace-cabecera:hover {
    color: goldenrod;
}

.enlaces-sub {
    /*background-color: rgba(178, 34, 34, 0.5);*/
    background-color: rgba(178, 34, 34, 0.75);
    display: none;
    list-style: none;
    margin-top: 20px;
    position: absolute;
}

.enlaces li:hover .enlaces-sub {
    display: block;
}

.enlaces-sub li .enlace-cabecera {
    display: block;
    color: white;
}