body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.contenedor {
  background-color: rgb(241, 203, 203);
  box-shadow: 5px 5px 20px black;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
}

.contenedor-tipor {
  min-width: 300px;
  width: 20%;
}

.contenedor-res {
  min-width: 650px;
  width: 20%;
  display: grid;
}

.Grid{
display:  inline-block grid;
border-radius: 8px;
align-items: center;
place-content: center;
justify-content: center;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
grid-auto-rows: minmax(50%, auto);
}

.Contenedor1{
width: 60%;
padding: 0%;
display: flex;
grid-column: 1 / 2;
grid-row: 1;
}

.Contenedor2{
width: 60%;
padding: 0%;
display: flex;
grid-column: 1 / 2;
grid-row: 2;
}

.Contenedor3{
width: 100%;
padding: 0%;
display: flex;
grid-column: 1 / 2;
grid-row: 3;
}

.Contenedor4{
width: 100%;
padding: 0%;
display: flex;
grid-column: 1 / 2;
grid-row: 4;
}

.Contenedor5{
width: 70%;
padding: 0%;
display: flex;
grid-column: 1 / 2;
grid-row: 5;
}

.Premisa1{
display: flex;
align-items: center;
width: 70%;
padding-right: 20%;
padding-top: 5%;
padding-bottom: 5%;
grid-column: 1 / 2;
grid-row: 1;
}

.Premisa2{
display: flex;
align-items: center;
width: 70%;
padding-right: 26%;
padding-top: 5%;
padding-bottom: 5%;
grid-column: 1 / 2;
grid-row: 2;
}

.Premisa3{
display: flex;
align-items: center;
width: 100%;
padding-right: 15%;
padding-top: 5%;
padding-bottom: 5%;
grid-column: 1 / 2;
grid-row: 3;
}

.Premisa4{
display: flex;
align-items: center;
width: 100%;
padding-right: 15%;
padding-top: 5%;
padding-bottom: 5%;
grid-column: 1 / 2;
grid-row: 4;
}

.Premisa5{
display: flex;
align-items: center;;
width: 80%;
padding-right: 12%;
padding-top: 5%;
padding-bottom: 5%;
grid-column: 1 / 2;
grid-row: 5;
}

.Campo1{
display: flex;
align-items: center;
padding-left: 25%;
padding-top: 5%;
padding-right: 0%;
padding-bottom: 5%;
width: 60%;
grid-column: 2;
grid-row: 1;
}

.Campo2{
display: flex;
align-items: left;
padding-left: 17%;
padding-top: 5%;
padding-right: 0%;
padding-bottom: 5%;
width: 60%;
grid-column: 2;
grid-row: 2;
}

.Campo3{
display: flex;
align-items: left;
padding-left: 5%;
padding-top: 5%;
padding-right: 24.5%;
padding-bottom: 5%;
width: 40%;
grid-column: 2;
grid-row: 3;
}

.Campo4{
display: flex;
align-items: left;
padding-left: 5%;
padding-top: 5%;
padding-right: 24.5%;
padding-bottom: 5%;
width: 40%;
grid-column: 2;
grid-row: 4;
}

.Campo5{
display: flex;
align-items: left;
padding-left: 32%;
padding-top: 8%;
padding-right: 5%;
padding-bottom: 5%;
width: 60%;
grid-column: 2;
grid-row: 5;
}

.Boton{
display: flex;
justify-content: center;
}


.form{
width: 80%;
box-sizing: border-box;
border: 1px solid #ccc;
position: relative;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type="submit"] {
padding: 10px 20px;
background-color: #3498db;
color: #fff;
border: none;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #2980b9;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a{
  color: #0b2cbe;
  text-decoration: none;
}

.caja {
align-items: center;
justify-content: center;
padding: 10px;
margin-bottom: 3px;
border: none;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.caja-pequeña {
  min-width: 75px;
  text-align: center;
  width: 10%;
}

.caja-mediana {
  min-width: 300px;
  width: 35%;
}