.contenedor-tabla {
    background-color: white;
    box-shadow: 5px 5px 20px black;
    margin: auto;
    margin-top: 50px;
    min-width: 908px;
    width: 85%;
}

.tabla-reporte{
    border-collapse: collapse;
    margin: auto;
    min-width: 883px;
    width: 85%;
}

th, td {
    border-style: solid;
    border-color: black;
    padding: 15px;
}

th {
    background-color: brown;
    color: white;
}

td {
    text-align: center;
}
